%p
  You may 
  = link_to "add a new RFId", new_drinker_rfid_path(@drinker)
  for this user. Or edit its other data below:
= render 'newOrEdit', { :formurl => drinker_path, :pagetitle => 'Edit user data' }
%p.mt-5.mb-3.text-muted.text-center 
= button_to 'Destroy User', drinker_path, data: { confirm: 'Are you sure you want to delete this user?' }, method: :delete, class: "btn btn-secondary"
%br
